.maindeck {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
  
.maindeck > .deckItems {
    padding: 0 10px;
    flex-grow: 2;
    flex: 1 1 50%;
}

h4 {
    font-weight: 600;
    background: rgba(135, 135, 135, 0.2);
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.cardItem {
    padding: 5px 10px;
}

@media (max-width: 1050px) {
    .playerList {
        width: 80%;
    }
}

@media (max-width: 950px) {
    .playerList, .maindeck {
        width: 100%;
    }
    
    .sideboard {
        width: 100%;
    }
}

@media (max-width: 620px) {
    .maindeck > .deckItems {
        flex: 1 1 100%;
    }
}

.modalImg {
    padding: 0;
    float: right;
    text-align: center;
}

button.cardButton, button.cardButton:focus, button.cardButton:active, button.cardButton:hover {
    padding: 0px !important;
}