body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(33,33,33);
    color: white;
}

#root  {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.container {
    width: 1260px;
    margin: 0 auto;
    height: 99vh;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
}

li {
    padding-bottom: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.w100 {
    width: 100%;
}

.w25 {
    width: 25%;
}

.w70 {
    width: 70%;
}

.w74 {
    width: 74%;
}

.wAuto {
    width: auto;
}

h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

h3 {
    margin-bottom: 0px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml25 {
    margin-left: 25px;
}

.ml33 {
    margin-left: 33px;
}

.ml70 {
    margin-left: 70px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb20 {
    margin-bottom: 20px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.rounded {
    border-radius: 50px;
}

.invertColor {
    filter: brightness(0) invert(1);
}

.statsSpinner {
    margin: 75px 50px;
    width: 100px;
}

@media (max-width: 1260px) {
    .container {
        width: 95%;
    }
}

.settings {
    width: 20px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    height: 15px;
}

.titlePadding {
    padding: 0px 20px;
}

.color-selected {
    color: deepskyblue;
}

.blured {
    filter: blur(8px)
}

.blink {
    animation: blinker 3s linear infinite;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}