/* Header */
.logos {
    width: 100px;
}

.topLine {
    height: 5px;
    background: black;
}

.header {
    .send {
        width: 25px;
    }
}
/* Header */


.home, .league {
    & li {
        width: 325px;
        height: 35px;
    }

    & .description {
        & .name {
            width: 135px;
        }
    }
}

@media (max-width: 440px) {
    .home {
        & .description {
            & .format {
                width: 100%;
                margin-bottom: 12px;
            }

            & .separator {
                display: none;
            }

            & .name {
                margin-left: 20px;
            }
        }
    }
}

.league {
    & .tournaments {
        overflow: hidden;

        & li {
            overflow: hidden;
            height: auto;
        }
    }
}

@media (max-width: 680px) {
    .league {
        & .description {
            & .viewOption {
                margin-left: 20px;
                margin-top: 12px;
                width: 100%;;
            }
        }
    }
}

@media (max-width: 440px) {
    .league {
        & .description {
            & .players {
                margin-left: 20px;
                margin-top: 12px;
                width: 100%;
            }

            & .separator {
                display: none;
            }
        }
    }
}

/* Lists */
.listItem {
    & .circle {
        border-radius: 30px;
        height: 3px;
        width: 3px;
        float: left;
        margin-right: 15px;
        margin-top: 10px;
    }

    & .orangeCircle {
        border: 1px solid brown;
        background: orangered;
    }

    & .blueCircle {
        border: 1px solid goldenrod;
        background: black;
    }
}