.logoText {
    font-size: 24px;
}

.home, .league {
    & li.title {
        & a {
            text-decoration: none;
        }

        & a:hover {
            text-decoration: underline;
        }
    }
}

.home {
    & li.title {
        width: 135px;
    }
}

.league {
    & li {
        width: 220px;
    }

    & .tournaments {
        & li.title {
            height: 65px;
        }
    }
}

.stats {
    & li {
        list-style: none;
    }

    & ul {
        margin-left: -20px;
    }
}

.cards {
    & li {
        list-style: none;
    }
}

@media (max-width: 600px) {
    .showStatsCards {
        width: 100%;
    }
}

.bluredDeck {
    width: 300px;
    line-height: 32px;
}

.big, .small {
    width: 300px;
}