.playersBoxHeader, .playersBox {
    width: 40em;
}

.playersBoxHeader{
    background: var(--background-even);
}

.item {
    display: flex;
    justify-items: flex-start;
    padding: 0 20px 0 0;
    flex-wrap: wrap;
    flex-direction: row;
}

.viewDeck {
    padding: 7px 15px 6px 15px;
    
    & button {
        padding: 7px 15px;
    }
}

@media (max-width: 691px) {
    .playersBoxHeader {
        display: none;
    }
    
    .playersBox {
        width: 96%;
    }

    .viewDeck {
        width: 100%;
        margin: 1px 48px 10px 48px;

        & button {
            width: 100%;
            max-width: 200px;
            float: left;
        }
    }

    .deckName {
        width: 100%;
        margin: 0 48px;
    }
}

@media (max-width: 400px) {
    .player {
        width: auto;
    }
}