.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--background-modal-block);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid var(--border-modal);
    border-radius: 5px;
    max-width: 400px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px; 
        opacity: 0
    } 
    to {
        top: 0; 
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px; 
        opacity: 0
    }
    to {
        top: 0; 
        opacity: 1
    }
}

.close {
    text-align: center;
    text-decoration: none;
    float: right;
    border: 1px solid var(--color-gray);
    padding: 5px 10px 7px 10px;
    border-radius: 5px;
    margin: 15px 0 10px 0;
    background: var(--background-red);
}

.close:hover,
.close:focus {
    color: var(--color-gray);
    text-decoration: none;
}

.modal-header {
    padding: 2px 16px;
    color: white;
    overflow: hidden;
    background: var(--background-modal-content);
}

.modal-body {
    padding: 2px 16px;
    background: var(--background-modal-content);
    overflow: hidden;
    display: flex;

    & img {
        border-radius: 20px;
        width: 95%;
        align-items: center;
        margin: 0 auto 20px auto;
    }
}