.pagButton {
    padding: 5px 8px;
    margin-left: 10px;
    background: none;
    color: white;
}

.arrowButton {
    padding: 4px;
    margin-left: 8px;
    background: none;
    color: white;
    border: none;
    font-size: 16px;
}

.disabled {
    pointer-events: none;
    color: white;
    background: #3c96e5;
    border: 1px solid #1b68ab;
}

.padPagination {
    padding: 20px 10px;
}