.tournamentPlayer {
    border-bottom: 1px solid rgba(135, 135, 135, 0.2);

    & .index {
        margin-left: -10px;
    }
}

.tournamentPlayer > div {
    padding: 13px 20px;
}

.deck {
    margin: 10px 0 20px 0;
}

@media (max-width: 550px) {
    .tournamentPlayer {
        & .index {
            width: 20px;
            font-size: 14px;
        }

        & .viewDeck {
            font-size: 12px;
        }
    }
}