
.footer {
    margin-bottom: 2px;

    & .links {
        & img {
            width: 30px;
        }
    }
}

.copyright {
    & .container {
        padding: 5px 0 20px 0;

        & .message {
            padding: 0 40px;
        }
    }
}