
.footer {
    margin-bottom: 2px;
}

.copyright {
    & .container {
        padding: 5px 0 20px 0;

        & .message {
            padding: 0 40px;
        }
    }
}

.social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
}

.padfooter {
    padding: 0px 20px;
}

.description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    float: left;
    margin-top: 20px;
}

@media (max-width: 750px) {
    .social-container, .description {
        display: block;
    }

    .description {
        float: none;
    }

    h2 {
        float: none !important;
        margin-top: 40px;
        margin-bottom: 20px !important;
    }

    .languages {
        float: none;

        & .languageBox {
            margin: 0 auto;
        }
    }

    .logos {
        margin-bottom: 10px;
    }

    .social-item {
        text-align: center;
    }

    .description-item {
        margin-bottom: 10px;
    }

    button {
        margin-left: 0px !important;
    }
}