.statsBox {
    width: 325px;

    & p {
        margin: 0;
    }
    
    & .line {
        height: 40px;

        & p {
            text-decoration: none !important;
        }

        & p:hover {
            color: deepskyblue;
        }
    }
}

.showStatsCards {
    & .total {
        width: 50px;
    }
}

@media (max-width: 600px) {
    .showStatsCards {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .statsBox {
        width: 100%;

    }
}