.statsBox {
    width: 325px;

    & p {
        margin: 0;
    }
}

.showStatsCards {
    & .total {
        width: 50px;
    }
}

@media (max-width: 600px) {
    .showStatsCards {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .statsBox {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .statsBoxContent {
        width: 100% !important;
    }

    .statsButton {
        float: left;
        width: 94%;

        & button {
            margin: 0 auto;
        }
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-item {
    flex: 1 1 calc(33.333% - 20px);
}

@media (max-width: 900px) {
    .flex-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 670px) {
    .flex-item {
        flex: 1 1 calc(90% - 20px);
    }
}

button {
    padding: 10px;
}