.maindeck {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
  
.maindeck > .deckItems {
    padding: 0 10px;
    flex-grow: 3;
    flex: 1 1 45%;
}

h4 {
    font-weight: 600;
    background: rgba(135, 135, 135, 0.2);
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.cardItem {
    padding: 5px 10px;
}

@media (max-width: 1050px) {
    & .playerList, & .maindeck {
        width: 75%;
    }
}

@media (max-width: 950px) {
    & .playerList, & .maindeck {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .playerList {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .maindeck, .sideboard {
        width: 100%;
    }
}