.maindeck {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: -10px;
}
  
.maindeck > div {
    padding: 0 10px;
    flex-grow: 3;
    flex: 1 1 200px;
}

@media (max-width: 1250px) {
    .cards {
        width: 50%;
    }
}

@media (max-width: 760px) {
    .cards {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .maindeck, .cards {
        width: 90%;
    }
}