.statsBox {
    width: 220px;

    & ul {
        overflow: hidden;
    }

    & p {
        margin: 0;
    }
    
    & .line {
        width: 175px;

        & p {
            text-decoration: none !important;
        }

        & p:hover {
            color: deepskyblue;
        }
    }
}

.cards {
    & li.blured {
        list-style: none;
        line-height: 32px;
    }
}